/*Class name of this form  */
.formlabel{
    text-align:center;
    background-color:whitesmoke;
    font-family: sans-serif;
    padding:5%;
    
}
input{
    width: 450px;
    padding:10px;
    margin: 6px 0;
    align-content: center;
    border: 3px solid #555;
    font-family: sans-serif;
}
input[type=submit]{
    padding:9px 25px;
    margin:20px;
    background-color:#ACFF00;
    border:none;
    border-radius: 50px;
    cursor: pointer;
}
label{
    font-family:sans-serif;
    margin:5%;
    padding:1%;
}
input[type=text] {
   
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
  }
