*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color:#24252A;
}
li, a, button{
    font-family: sans-serif;
    font-weight:500;
    font-size:16px;
    color:whitesmoke;
    text-decoration:none;
}
header{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding:30px,10px;
}

.Nav_bar{  
    list-style: none;
}
.Nav_bar li{
    display: inline-block;
    padding:0px 20px;
}
.Nav_bar li a{
    transition: all 0.3s ease 0s;
}
.Nav_bar li a:hover{
    color:#0088a9;
}
button{
    padding:9px 25px;
    margin:20px;
    background-color:#ACFF00;
    border:none;
    border-radius: 50px;
    cursor: pointer;
}
button:hover{
    background-color:black
}
#Background{
    width:100%;
    height: 100%;
    background-attachment: fixed;
}
form{
    background-color:white;
    font-family: sans-serif;
    
}
label{
    background-color:white;
    display:inline-block;
    width:450px;
    text-align: right;
    margin-right:8px;
}
input{
    background-color: whitesmoke;
    width: 450px;
    padding:10px;
    margin: 6px 0;
    align-content: center;
}
input[submit]:hover{
        background-color:skyblue;
}
